<br><br><br>
<div class="container">
    <div class="jumborton">
        <h1 style="text-align: center">Blockchainia.. The Trustless World!</h1>
    </div>
</div>
<br><br><br>
<div class="btn-group">
    <button class="btn btn-primary" (click)="joinRoom()">Start Playing!</button>
    <button class="btn btn-primary" (click)="joinRoom()">Tutorial</button>
    <button class="btn btn-primary" (click)="joinRoom()">What is The Blockchain</button>
    <button class="btn btn-primary" (click)="joinRoom()">About</button>

</div>
