<h1>This round has the following transactions</h1>
<p *ngFor="let transaction of transactions">
    <ng-container *ngIf="transaction.type === 'donation'">
        {{transaction.info.donatorName + ' donated ' + transaction.info.donatedAmount + ' to ' + transaction.info.donateeName}}
    </ng-container>
    <ng-container *ngIf="transaction.type === 'grant'">
        {{transaction.info.grantedName + ' was granted ' + transaction.info.grantedAmount}}
    </ng-container>
</p>
<div>
    <h1>{{question?.question}}</h1>
    <label *ngFor="let option of question?.options; let i = index"><input type="radio" name="answer" [value]="i" [(ngModel)]="answer"/> {{option}}</label>
    <button (click)="submit()">Submit Answer</button>
</div>